<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.business.mapper.ApiDailyCheckInMapper">

    <resultMap id="BaseResultMap" type="com.xh.business.domain.model.ApiDailyCheckIn">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="description" column="description" />
            <result property="addPoints" column="add_points" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,description,add_points,create_time,update_time
    </sql>
</mapper>
