<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.business.mapper.ApiInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.xh.business.domain.model.ApiInterfaceInfo">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="url" column="url" />
            <result property="userId" column="user_id" />
            <result property="method" column="method" />
            <result property="requestParams" column="request_params" />
            <result property="responseParams" column="response_params" />
            <result property="reduceScore" column="reduce_score" />
            <result property="requestExample" column="request_example" />
            <result property="requestHeader" column="request_header" />
            <result property="responseHeader" column="response_header" />
            <result property="returnFormat" column="return_format" />
            <result property="description" column="description" />
            <result property="status" column="status" />
            <result property="totalInvokes" column="total_invokes" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,url,user_id,method,request_params,
        response_params,reduce_score,request_example,request_header,response_header,
        return_format,description,status,total_invokes,avatar_url,
        create_time,update_time,is_delete
    </sql>

    <select id="applyInterfaceList" resultType="com.xh.business.domain.resp.api.InterfaceInfoVO">
        SELECT
            aii.id,
            aii.name,
            aii.url,
            aii.avatar_url,
            aii.method,
            aii.request_params,
            aii.response_params,
            aii.reduce_score,
            aii.return_format,
            aii.description,
            aii.status,
            aii.total_invokes,
            aii.create_time
        FROM  api_user_interface_apply AS aui
            INNER JOIN api_interface_info AS aii ON aui.interface_id = aii.id AND aii.is_delete = 0
        WHERE aui.apply_id = #{param.applyUserId} AND aui.is_delete = 0
        <if test="param.applyStatus != null">
            AND aui.status = #{param.applyStatus}
        </if>
        <if test="param.categoryCode != null and categoryCode != ''">
            AND aii.category_code = #{param.categoryCode}
        </if>
        <if test="param.keyword != null and param.keyword != ''">
            AND (aii.name LIKE CONCAT('%',#{param.keyword},'%') OR aii.url LIKE CONCAT('%',#{param.keyword},'%'))
        </if>
    </select>

</mapper>
